<ion-header>
    <ion-navbar>
        <ion-title>
            chat list
        </ion-title>
    </ion-navbar>
</ion-header>
  
<ion-content padding>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
            pullingText="Pull to refresh"
            pullingIcon="arrow-dropdown"
            refreshingSpinner="circles"
            refreshingText="..fetching">
        </ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item *ngFor="let chat of chats">
            <p *ngIf=" chat.user1.id != this.id" (click)="chatToUser(chat.user1.id, chat.user1.email)"> {{ chat.user1.email }} </p> 
            <p *ngIf=" chat.user2.id != this.id" (click)="chatToUser(chat.user2.id, chat.user2.email)"> {{ chat.user2.email }} </p>
        </ion-item>
    </ion-list>
    
</ion-content>