<ion-header>
    <ion-navbar>
        <ion-title>
            chat list
        </ion-title>
    </ion-navbar>
</ion-header>
  
<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let chat of chats">
            <!-- '3' needs to be the logged user -->
            <p *ngIf=" chat.user1.id != '3'" (click)="chatToUser(chat.user1.id, chat.user1.email)"> {{ chat.user1.email }} </p> 
            <p *ngIf=" chat.user2.id != '3'" (click)="chatToUser(chat.user2.id, chat.user2.email)"> {{ chat.user2.email }} </p>
        </ion-item>
    </ion-list>
</ion-content>